<form class="signup-form">
  <div>
    <label for="username-signup">Create a username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Create a password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">SIGN UP</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>