<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HikingWithSisyphus</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  
</head>

<div class="view full-page-intro bg">

<body>
  
  <div class="container mt-1">

     
    <header>
      <h1>
        <a href="/">HikingWithSisyphus!</a>
      </h1>

      
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">DASHBOARD</a>
        <button id="logout" class="btn-no-style">LOGOUT</button>
        {{else}}
        <a href="/login">LOGIN</a>
        {{/if}}
      </nav>

      </header>

    <main>

    {{{ body }}}
      
    </main>

      <h1 class="h1 pt-6 text-center">Popular Hikes</h1>

      <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://bearfoottheory.com/wp-content/uploads/2019/02/Angels-Landing-683x1024.jpeg" alt="Placeholder image">
      </figure>
  </div>
  <div class="card-content">
    
      <div class="media-content">
        <p class="title is-4">ANGEL’S LANDING, ZION NATIONAL PARK</p>
        <p class="subtitle is-6">City, Utah</p>
      </div>
    </div>
<div class="content">
      <ul>
          <li>
              <strong>Length: 4.1 miles</strong>
          </li>
          <li>
              <strong>Elevation gain: 1,617 feet</strong>
          </li>
          <li>
              <strong>Difficulty: Strenuous</strong>
          </li>
          <li>
              <strong>Permit: No</strong>
          </li>
      </ul>
  </div>
</div>

<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://bearfoottheory.com/wp-content/uploads/2019/02/Zion-Narrows-Best-Hikes-in-Utah.jpeg" alt="Placeholder image">
      </figure>
  </div>
  <div class="card-content">
    
      <div class="media-content">
        <p class="title is-4">THE NARROWS</p>
        <p class="subtitle is-6">City, Utah</p>
      </div>
    </div>
<div class="content">
      <ul>
          <li>
              <strong>Length: 5 to 16 miles</strong>
          </li>
          <li>
              <strong>Elevation gain: 206-1,017 feet</strong>
          </li>
          <li>
              <strong>Difficulty: Easy to Hard</strong>
          </li>
          <li>
              <strong>Permit: Only for top</strong>
          </li>
      </ul>
  </div>
</div>

<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://bearfoottheory.com/wp-content/uploads/2021/02/Subway-Zion-2-1024x683.jpeg" alt="Placeholder image">
      </figure>
  </div>
  <div class="card-content">
    
      <div class="media-content">
        <p class="title is-4">THE SUBWAY, ZION NATIONAL PARK</p>
        <p class="subtitle is-6">City, Utah</p>
      </div>
    </div>
<div class="content">
      <ul>
          <li>
              <strong>Length: 9-9.5 miles</strong>
          </li>
          <li>
              <strong>Elevation gain: 1,300 feet for the bottom-up hike</strong>
          </li>
          <li>
              <strong>Difficulty: Strenuous</strong>
          </li>
          <li>
              <strong>Permit: Yes</strong>
          </li>
      </ul>
  </div>
</div>

<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://bearfoottheory.com/wp-content/uploads/2019/02/The-Wave-768x1021.jpeg" alt="Placeholder image">
      </figure>
  </div>
  <div class="card-content">
    
      <div class="media-content">
        <p class="title is-4">THE WAVE, VERMILLION CLIFFS WILDERNESS</p>
        <p class="subtitle is-6">City, Utah</p>
      </div>
    </div>
<div class="content">
      <ul>
          <li>
              <strong>Length: 5.2 miles</strong>
          </li>
          <li>
              <strong>Elevation gain: 400 feet</strong>
          </li>
          <li>
              <strong>Difficulty: Moderate</strong>
          </li>
          <li>
              <strong>Permit: Yes</strong>
          </li>
      </ul>
  </div>
</div>

<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://bearfoottheory.com/wp-content/uploads/2019/03/Golden-Cathedral-trail-Utah2-1024x683.jpeg" alt="Placeholder image">
      </figure>
  </div>
  <div class="card-content">
    
      <div class="media-content">
        <p class="title is-4">GOLDEN CATHEDRAL TRAIL</p>
        <p class="subtitle is-6">City, Utah</p>
      </div>
    </div>
<div class="content">
      <ul>
          <li>
              <strong>Length: 9.1 miles</strong>
          </li>
          <li>
              <strong>Elevation gain: 1,581 feet</strong>
          </li>
          <li>
              <strong>Difficulty: Moderate</strong>
          </li>
          <li>
              <strong>Permit: No</strong>
          </li>
      </ul>
  </div>
</div>

<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://bearfoottheory.com/wp-content/uploads/2019/02/Zion-Narrows-Best-Hikes-in-Utah.jpeg" alt="Placeholder image">
      </figure>
  </div>
  <div class="card-content">
    
      <div class="media-content">
        <p class="title is-4">PARIA CANYON BACKPACKING TRAIL</p>
        <p class="subtitle is-6">City, Utah</p>
      </div>
    </div>
<div class="content">
      <ul>
          <li>
              <strong>Length: 38 miles</strong>
          </li>
          <li>
              <strong>Elevation gain: 1,130 feet decline</strong>
          </li>
          <li>
              <strong>Difficulty: Moderate</strong>
          </li>
          <li>
              <strong>Permit: Yes</strong>
          </li>
      </ul>
  </div>
</div>

      

      <footer>
      
      Made by the best group in the world!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</div>

</html>